/vendor/
/node_modules/
/composer.lock
/.phpunit.cache
/.phpunit.result.cache
/.idea
/.vscode
/.env
/.env.backup
/.env.testing
/phpunit.xml
/.phpunit.result.cache
/coverage.xml
/coverage
/build
/docs

.DS_Store
**/.DS_Store
Thumbs.db
**/Thumbs.db
